<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GrooveMapper{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <h1>GrooveMapper</h1>
    <div id="mynetwork" style="width: 100%; height: 600px;">
        <iframe src="{{ url_for('static', filename='home_network.html') }}" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <!-- <div id="navigation" style="width: 100%">
            
    </div> -->
</body>
</html>